:root {
  --zhFamily: -apple-system, BlinkMacSystemFont, "Inter", "Microsoft YaHei", "PingFang SC", "Helvetica Neue", "Segoe Ul", "Noto Sans CJK", "WenQuanYi Micro Hei", sans-serif, "Apple Color Emoji", "Segoe Ul Emoji", "Segoe Ul Symbol";
  --enFamily: -apple-system, BlinkMacSystemFont, "Inter", "Arial", "Helvetica Neue", "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --ruFamily: -apple-system, BlinkMacSystemFont, "Arial", "Segoe UI", "Inter", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --text-primary: #111213;
  --text-secondary: #34393D;
}

html {
  font-family: var(--family, var(--zhFamily));
}

a {
  text-decoration: none;
  text-decoration-line: none;
  -webkit-text-decoration-line: none;
  color: inherit;
}

html, body {
  touch-action: manipulation;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}