.apple-silicon {
  background: linear-gradient(97deg, #202022 2.28%, #46484d 108.05%);
}

:global(html[data-theme='dark']) .apple-silicon {
  background: #fff;
  color: #000;
}

.outlined {
  border: 1px solid #b5b5b5 !important;
  background: #fff;
  color: #2d2d2d !important;
}

:global(html[data-theme='dark']) .outlined {
  background: #545a68;
  color: #fff !important;
  border: none !important;
}

.window-64 {
  background: linear-gradient(99deg, #238aff 15.85%, #f9b3b5 107.9%);
}
